/* src/style/DashboardPage.css */

/* O .dashboard-layout serve apenas como um container geral */
.dashboard-layout {
  position: relative;
}

.dashboard-content {
  /* --- Posicionamento e Espaçamento --- */
  margin-left: 260px; /* Cria o espaço para a sidebar fixa. DEVE ser igual à largura da sidebar */
  
  /* --- Tema Floresta Clara --- */
  background-color: #f4f9f4; /* Fundo verde muito claro e suave */
  min-height: 100vh;
  
  /* --- Layout Interno --- */
  padding: 40px;
}

.dashboard-content h1 {
  font-size: 32px;
  color: #064e3b; /* Título em verde escuro para combinar com o tema */
  margin-bottom: 16px;
  font-weight: 700;
}