.header {
  background-color: white;
  padding: 16px 32px;
  border-bottom: 1px solid #e5e7eb;
  position: sticky;
  top: 0;
  z-index: 50;
}

.header-content {
  max-width: 1200px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo-link {
  text-decoration: none;
}


.logo {
  display: flex;
  align-items: center;
  font-size: 24px;
  font-weight: bold;
  color: #1f2937;
}

.logo-icon {
  background: #16a34a;
  color: white;
  width: 32px;
  height: 32px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: 8px;
  font-weight: bold;
}

.desktop-nav {
  display: flex;
  gap: 32px;
}

.desktop-nav a {
  text-decoration: none;
  color: #4b5563;
  font-weight: 500;
  transition: color 0.3s ease;
}

.desktop-nav a:hover {
  color: #16a34a;
}

.header-buttons {
  display: flex;
  gap: 16px;
}

.mobile-menu-btn {
  display: none; /* Escondido em telas grandes */
  background: none;
  border: none;
  cursor: pointer;
  flex-direction: column;
  gap: 5px;
}

.hamburger-line {
  width: 25px;
  height: 3px;
  background-color: #1f2937;
  border-radius: 3px;
}

.mobile-menu {
  display: none;
}


/* Responsividade para telas menores */
@media (max-width: 992px) {
  .desktop-nav, .header-buttons {
      display: none;
  }
  .mobile-menu-btn {
      display: flex;
  }
  .mobile-menu {
      display: flex;
      flex-direction: column;
      gap: 20px;
      padding: 20px 32px;
      background-color: white;
      border-top: 1px solid #e5e7eb;
      position: absolute;
      top: 100%;
      left: 0;
      right: 0;
  }
  .mobile-menu a {
      text-decoration: none;
      color: #4b5563;
      font-weight: 500;
  }
}